:root {
    --background-clr: rgb(193, 207, 222);
}

body {
    margin: 0 20px;
    background-color: var(--background-clr);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.first-pic {
    max-width: 100%;
    height: auto;
}

.second-wrapper {
    max-width: 900px;
}

.second-pic {
    width: 100%;
}

.third-wrapper {
    margin-bottom: 20px;
}

.third-pic {
    max-width: 900px;
    width: 100%;
    object-fit: cover;
}


